# Ignore object files and executables
*.o
*.exe

# Ignore the 'blocktimes' directory & ROOTfiles symlink
blocktimes/
ROOTfiles
Plots

# Ignore backup or temporary files
*~
.*.swp

# Ignore the grep_rvardef
grep_rvardef_variables_output.txt
