# Ignore object files and executables
*.o
*.exe

# Ignore the 'blocktimes' directory
blocktimes/

# Ignore backup or temporary files
*~
.*.swp

# Ignore the grep_rvardef
grep_rvardef_variables_output.txt
